html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.sentence-construct-container {
  height: 200px;
  padding: 5px;
}

.create-btn {
  text-transform: uppercase;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  margin: 8px 0;
}

.write-card-wrapper {
  font-family: 'Nunito', sans-serif;
}

.create-btn-row {
  justify-content: center;
}

.inputs-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.write-form-control {
  width: 150px;
  height: 30px;
  font-weight: 700;
}

.keyword-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  margin: auto 0;
  background: rgba(34,139,34,0.25);
  border-top: 3px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
}

.selector-btn-col {
  margin: 3px 0;
}

.card-body-write {
  height: 400px;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.selector-button {
  margin: 0 2px;
  border-radius: 0;
  letter-spacing: 0.15px;
  font-size: 16px;
  width: 150px;
  height: 35px;
  font-weight: 700;
}

h1, h2 {
  font-weight: 500;
}

.master-root {
  background: #e2e1e0;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.card-body-anim {
  margin: 0 10%;
}

.content-styles-anim {
  padding: 25px 80px;
  font-weight: 700;
}

.card {
  background-size: cover;
  position: absolute;
  background: #ffffff;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
}

.content-styles {
  padding: 40px 100px;
  text-align: left;
}

p:first-child:first-letter {
  float: left;
  font-family: 'PT Serif', serif;
  font-size: 75px;
  line-height: 50px;
  padding-top: 10px;
  padding-right: 4px;
  padding-left: 3px;
}

.card-body {
  margin: auto 0;
}

.points {
  display: flex;
  font-family: 'Nunito', sans-serif;
  float: right;
  margin: 20px 10px;
}

.share-row {
  display: flex;
  flex-direction: column;
}

.share-icon {
  font-size: 36px;
}

.card-header {
  background: none;
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.card-footer {
  background: none;
}

.app-icons-row {
  height: 50px;
  border-top: 1px solid #2e2e2e;
  display: flex;
  color: #2e2e2e;
}

.col-4 {
  height: 100%;
  padding: 4px 0;
  width: 33.33%;
}

.card h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}

.material-icons { 
  color: green;
  margin-right: 5px;
}

.points-text {
  font-weight: 700;
}

.card p {
  font-family: 'PT Serif', sans-serif;
  font-size: 18px;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}

.alert {
  width: 45%;
  min-height: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  top: 0;
  right: 0;
  background: green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alert-left {
  top: 0;
  left: 0;
  background: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alert-top {
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }

 .alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }

 /* Login Page */
 .container {
   height: 80vh;
 }

 .login-card {
  margin: 100px 30%;
  width: 500px;
  height: 500px;
  cursor: pointer;
  border: 1px solid #656565;
  border-radius: 8px;
 }

 .app-name {
  font-family: 'PT Serif', sans-serif;
  font-size: 42px; 
  font-weight: 700;
 }

 .login-form {
   display: flex;
   flex-direction: column;
   padding: 100px 50px;
 }

 input {
  height: 32px;
  border-radius: 4px;
  margin: 5px 0;
 }

 .card-body-dashboard {
   height: 400px;
 }

 .number-col-db {
   font-family: 'Nunito', sans-serif;
   color: green;
   font-weight: 700;
   text-align: left;
 }

 .text-col-db {
   font-family: 'Nunito', sans-serif;
   text-align: left;
   letter-spacing: -0.25px;
 }

 .row-header-db {
   font-family: 'Nunito', sans-serif;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 700;
   color: #656565;
 }

 .login-button {
   padding: 10px;
   width: 200px;
   border-radius: 8px;
   font-size: 14px;
   font-weight: 700;
   background-color: green;
   color: #ffffff;
   text-transform: uppercase;
 }

 .signup-button {
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
}

 .select-interests {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
 }

 /* Modal Dialog CSS */
 .modal-backdrop {
   background: none;
 }

 .modal-dialog {
   max-width: 350px;
   margin: 11rem auto;
 }

 .modal-content {
   min-height: 150px;
 }

 .modal-header {
   background-color: #2e2e2e;
   height: 24px;
 }

 .modal-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #fff;
 }

 .modal-body {
   font-family: 'Nunito', sans-serif;
 }

 .modal-footer {
  height: 24px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  justify-content: space-between;
  background-color: #2e2e2e;
 }

 .btn-default {
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   color: #ffffff;
  }

  .btn-default:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  .refresh-icon {
    color: #2e2e2e;
  }